/*--Navigation--*/
nav .brand-logo {
    margin-left: 15px;
}

.nav-wrapper {
    background-color: #26a69a;
}


/*--Footer--*/

/*--According icons--*/
.collapsible-header {
    position: relative;
}

#edit_icon {
    position: absolute;
    right: 50px;
}

#delete_icon {
    position: absolute;
    right: 0;
}

a {
    color: #26a69a;
}

#add_icon {
    color: #26a69a;
}