/*--Navigation--*/
nav .brand-logo {
    margin-left: 15px;
}

.nav-wrapper {
    background-color: #26a69a;
}


/*--Footer--*/

.footer {
   background-color: #26a69a;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   color: white;
}

/*--According icons--*/
.collapsible-header {
    position: relative;
}

#edit_icon {
    position: absolute;
    right: 50px;
}

#delete_icon {
    position: absolute;
    right: 0;
}

a {
    color: #26a69a;
}

#add_icon {
    color: #26a69a;
    position: absolute;
    bottom: 75px;
    right: 40px;
}


/*--According details--*/

#all_events {
  column-count: 3;
}

.title {
color: #26a69a;
}


/*--Media Queries--*/
@media only screen and (max-width: 667px) {
#all_events {
  column-count: 1;
}
nav .brand-logo {
    font-size: 20px;
    left: 40%
}

h3 {
  font-size: 20px;  
}

#label {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

}