{% extends 'base.html' %} {% block content %}
<h3>Client Accounts</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for clients in clients %}
        <li>
            <div class="collapsible-header">
                <div class="col s6">

                <a href="{{url_for('edit_client', client_id=clients._id)}}"> <i class="material-icons right" id="edit_icon">edit</i></a>

                <a href="{{url_for('delete_client', client_id=clients._id)}}"> <i class="material-icons right" id="delete_icon">delete</i></a>

                <i class="material-icons roate left" id="expand_icon">expand_more</i><strong>{{clients.client_name}} - {{clients.client_ref}}</strong>

                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    <p><strong>Name:</strong> {{clients.client_name}}</p>
                    <p><strong>Reference No.:</strong> {{clients.client_ref}}</p>
                    <p><strong>Address:</strong> {{clients.address}}</p>
                    <p><strong>Email:</strong> {{clients.email}}</p>
                </span>
            </div>
        </li>
        {% endfor %}
        
    </ul>
    <div>
    <a href="{{url_for('add_client')}}" class="btn-floating btn-large waves-effect waves-light material-icons right" id="add_icon"> <i class="material-icons">add</i></a>
</div>
{% endblock %}
