{% extends 'base.html' %}
{% block content %}
<ul class="collapsible" data-collapsible="accordion">
    {% for task in tasks %}
    <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                <i class="material-icons">expand_more</i><strong>{{events.time}}</strong> - {{events.date}}
                </div>
                <div class="collapsible-body">
                <span>
                    {{events.client_name}}
                    {{events.client_ref}}
                    {{events.location}}
                    {{events.date}}
                    {{events.time}}
                </span>
            </div>
            </div>
    </li>
    {% endfor %}
    </ul>
{% endblock %}