{% extends 'base.html' %} {% block content %}
<h3>Edit Appointment Purpose</h3>
<div class="row">
   <form action="{{url_for('update_purpose', purpose_id=purpose._id)}}" method="POST" class="col s12">
      <div class="row">
         <div class="row">
            <div class="input-field col s12">
               <i class="material-icons prefix">list</i>
               <input id="purpose" name="purpose" type="text" required class="validate" value="{{purpose.purpose}}"/>
               <label for="icon_prefix">Purpose</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <i class="material-icons prefix">list</i>
               <input id="description" name="description" type="text" required class="validate" value="{{purpose.description}}" />
               <label for="icon_prefix">Description</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <button class="btn waves-effect waves-light" type="submit" id="submit_icon" required>Submit
               <i class="material-icons right">send</i>
               </button>
            </div>
         </div>
      </div>
   </form>
</div>
{% endblock %}