{% extends 'base.html' %} {% block content %}
<h3>Appointment Purpose</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for purpose in purpose %}
        <li>
            <div class="collapsible-header">
                <div class="col s6">

                <a href="{{url_for('edit_purpose', purpose_id=purpose._id)}}"> <i class="material-icons right" id="edit_icon">edit</i></a>

                <a href="{{url_for('delete_purpose', purpose_id=purpose._id)}}"> <i class="material-icons right" id="delete_icon">delete</i></a>

                <i class="material-icons roate left" id="expand_icon">expand_more</i><strong>{{purpose.purpose}}</strong>

                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    <p><strong>Description:</strong> {{purpose.description}}</p>
                </span>
            </div>
        </li>
        {% endfor %}
       </ul>

<!--create purpose link-->  

<div>  
<a href="{{url_for('add_purpose')}}" class="btn-floating btn-large waves-effect waves-light material-icons right" id="add_icon"> <i class="material-icons">add</i></a>
</div> 
{% endblock %}