{% extends 'base.html' %} {% block content %}
<h3>PVP Accounts</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for users in users %}
        <li>
            <div class="collapsible-header">
                <div class="col s6">

                <a href=""> <i class="material-icons right" id="edit_icon">edit</i></a>

                <a href=""> <i class="material-icons right" id="delete_icon">delete</i></a>

                <i class="material-icons roate left" id="expand_icon">expand_more</i><strong>{{users.pvp_name}} - {{users.reg_no}}</strong>    


                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    <p><strong>Name:</strong> {{users.pvp_name}}</p>
                    <p><strong>Registration No.:</strong> {{users.reg_no}}</p>
                    <p><strong>Email:</strong> {{users.email}}</p>
                    <p><strong>Company Name:</strong> {{users.company_name}}</p>
                </span>
            </div>
        </li>
        {% endfor %}
        
    </ul>
    <div>
    <a href="{{url_for('add_user')}}" class="btn-floating btn-large waves-effect waves-light material-icons right" id="add_icon"> <i class="material-icons"> add</i></a>
</div>
{% endblock %}

