{% extends 'base.html' %} {% block content %}
<h3>PVP Accounts</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for users in users %}
        <li>
            <div class="collapsible-header">
                <div class="col s9">
                    <i class="material-icons">expand_more</i><strong>{{users.pvp_name}} - {{users.reg_no}}</strong> 
                   <a href="{{url_for('add_user')}}" class="btn waves-effect waves-light">Add User</a>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    <p><strong>Name:</strong> {{users.pvp_name}}</p>
                    <p><strong>Registration No.:</strong> {{users.reg_no}}</p>
                    <p><strong>Email:</strong> {{users.email}}</p>
                    <p><strong>Company Name:</strong> {{users.company_name}}</p>
                </span>
            </div>
        </li>
        {% endfor %}
        
    </ul>
{% endblock %}
